coverage
!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/node_modules
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/tags
/tmp/*
.idea*
node_modules
bower_components
npm-debug.log
/.rvmrc
.rvmrc
/dump.rdb
/config/application.yml
/fixtures/*
fixtures
/spec/*
/spec_js/*
spec
spec_js
.bowerrc
.dockerignore
.gitignore
.editorconfig
.env.sample
.gemrc
.gitignore
.gitlab-ci.yml
.rspec
.rubocop.yml
.ruby-gemset
.ruby-version
bower.json
Capfile
Dockerfile.dev
Dockerfile.prod
Dockerfile.sidekiq.prod
karma.conf.js
Procfile
README.md
.env
tmp
log
spec
spec_js
fixtures
.git
.csscomb.json
Dockerfile
gulpfile.js
package.json
