coverage
!.keep
*.DS_Store
*.swo
*.swp
/.bundle
.bundle
/.env
/.foreman
/.byebug_history
/node_modules
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/tags
/tmp/*
.idea*
node_modules
bower_components
npm-debug.log
/.rvmrc
.rvmrc
/dump.rdb
/config/application.yml
db/dumps/*
db/dumps
.ash_history
.irb_history
core
doc
